Temp/
Library/
indexdir/
UnityProject/*.csproj
UnityProject/*.sln
UnityProject/*.pidb
UnityProject/*.userprefs
UnityProject/*.pyo
UnityProject/*.pyc

*.apk
build/
buildPath*
/Assets/e2d
/Assets/e2d.meta
MyTemp
obj
/*.suo
UnityVS
/Assets/UnityVS.meta
/ExtSripts/M3LevelConfig.json
/ExtSripts/CombatLevelConfig.json
/ExtSripts/Unlocks.json
UnityProject/*.vs
UnityProject/*.suo
[Dd]ebug*/
[Rr]elease*/
/Builds

/.vs/*
/UnityProject/*.csproj.user

CrossPromoUtils/.vs/*
